.App {
  width: 97vw; /* Full viewport width */
  min-height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 20px;
  /* border-top: 100px solid #39A2AE; */
  background-color: #39A2AE;
}

h1 {
  color: #282c34;
  font-size: 2.5rem;
  /* margin-bottom: 20px; */
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  font-weight: bold;
}

p {
  color: #282c34;
  font-size: .75rem;
}

body {
  align-items: center;
}




.box-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Upload Section Styles */
.upload-section {
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}

.upload-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #39A2AE;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #57cad7;
}

.upload-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.upload-section.error {
  border: 2px solid red;
}



/* Submit Button Styles */
.submit-button {
  padding: 12px 24px;
  background-color: #4bae4e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s;
  z-index: 1;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Text Display Section Styles */
.text-display {
  margin: 20px 0;
  width: 100%;
  max-width: 800px;
}

/* Output Container for side-by-side display */
.output-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.text-output {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 150px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.latex-output {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 150px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: #f5f5f5;
}

/* Optional: Add some padding to the code element */
code {
  padding: 2px 4px;
  background-color: #f5f5f5;
  border-radius: 2px;
}

/* Media Query for Responsive Design */
@media (max-width: 600px) {
  .App-header {
    padding: 10px;
  }

  .App-logo {
    max-width: 200px;
    margin: -20px 0 10px 0;
  }

  h1 {
    font-size: 2rem;
  }

  .output-container {
    flex-direction: column;
  }

  .text-output,
  .latex-output {
    width: 100%;
  }
}